<Body>
  <div class="container">
    <div class="card">
      <div class="face face1">
        <div class="content">
          <div class="icon">
            <i class="bi bi-instagram"></i>
          </div>
        </div>
      </div>
      <div class="face face2">
        <div class="content">
          <h3>
            <a href="https://www.instagram.com/elisdev_/"target="_blank">@elisdev_</a>
          </h3>
          <br>
          <p>Apoyame en mis redes para continuar creando contenido</p>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="face face1">
        <div class="content">
          <div class="icon">
            <i class="bi bi-youtube"></i>
          </div>
        </div>
      </div>
      <div class="face face2">
        <div class="content">
          <h3>
            <a href="https://www.tiktok.com@elisdev_/"target="_blank">@elisdev_</a>
          </h3>
          <br>
          <p>Apoyame en mis redes para continuar creando contenido</p>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="face face1">
        <div class="content">
          <div class="icon">
            <i class="bi bi-youtube"></i>
          </div>
        </div>
      </div>
      <div class="face face2">
        <div class="content">
          <h3>
            <a href="https://www.youtube.com/watch?v=nDQCZ-FcDFg"target="_blank">@elisdev</a>
          </h3>
          <br>
          <p>Apoyame en mis redes para continuar creando contenido</p>
        </div>
      </div>
    </div>
  </div>
</Body>
